<h2>Eventos</h2>

<hr>

<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <label class="me-2 my-2">Filtro:</label>
      <input type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>

</div>
<hr>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">
        <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">{{!exibirImagem ? 'exibir': 'ocultar'}}</button>
      </th>
      <th >#</th>
      <th  scope="col">Tema</th>
      <th  scope="col">Local</th>
      <th  scope="col">Data</th>
      <th  scope="col">Qtd Pessoas</th>
      <th  scope="col">Lote</th>
      <th  scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
            [isAnimated]="true"
            src="/assets/{{evento.imagemURL}}"
            [style.width.px]=larguraImagem
            [style.margin.px]=margemImagem>
      </td>
      <th  scope="row">{{evento.eventoId}}</th>
      <td >{{evento.tema}}</td>
      <td >{{evento.local}}</td>
      <td >{{evento.dataEvento}}</td>
      <td >{{evento.qtdPessoas}}</td>
      <td >{{evento.lote}}</td>
      <td><button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" >
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>

  </tfoot>
